.cities-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  padding: 0%;
}

.main-city {
  width: 80%;
  margin: auto;
  padding: 20px;
  color: antiquewhite;
  gap: 10px;
}

section {
  width: 100%;
}

.misc-container {
  padding: 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}

.globe {
  width: 120px;
  height: 120px;
  color: #2d4573;
}

.flashed-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: -20px;
  color: antiquewhite;
  font-size: 14px;
  font-weight: bold;
  text-align: end;
}

h3 {
  margin-bottom: 0;
}

.flashed-text span {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  margin-top: 20px;
}

#home-intro {
  width: 100%;
  background-color: #2d4573;
  color: antiquewhite;
  padding: 8px 0;
  margin: 1px 0;
  text-align: center;
  font-size: 14px;
}

.main-city:nth-child(odd) {
  background-color: #3e61a3;
}

.pin {
  width: 70px;
  height: 70px;
  color: #2d4573;
  background-color: #3e61a3;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
}

.city-name {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}

.aqi-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid aqua;
  border-radius: 12px;
  margin-left: 20%;
  margin-top: 20px;
  padding: 8px;
  width: fit-content;
}

.check-btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  top: 8px;
  color: antiquewhite;
}

.check-btn svg {
  width: 25px;
  height: 25px;
}

.wind-logo {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  color: aqua;
}

.aqi-key {
  font-size: 16px;
}

.aqi-value-0-50 {
  font-size: 30px;
  margin-left: 5%;
  padding: 4px;
  border-radius: 8px;
  background-color: #096;
}

.aqi-value-51-100 {
  background-color: #ffde33;
  color: black;
  font-size: 30px;
  margin-left: 5%;
  padding: 4px;
  border-radius: 8px;
}

.aqi-value-101-150 {
  background-color: #f93;
  color: black;
  font-size: 30px;
  margin-left: 5%;
  padding: 4px;
  border-radius: 8px;
}

.aqi-value-151-200 {
  background-color: #c03;
  font-size: 30px;
  margin-left: 5%;
  padding: 4px;
  border-radius: 8px;
}

.aqi-value-201-300 {
  background-color: #609;
  font-size: 30px;
  margin-left: 5%;
  padding: 4px;
  border-radius: 8px;
}

.aqi-value-300-500 {
  background-color: #7e0023;
  font-size: 30px;
  margin-left: 5%;
  padding: 4px;
  border-radius: 8px;
}
