nav {
  width: 100%;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  gap: 4%;
  align-items: center;
  color: antiquewhite;
  background-color: #4369b2;
}

h1 {
  color: #05c3fe;
  font-size: 18px;
  margin-left: 40px;
}

#air-txt {
  font-style: italic;
  padding-right: 5px;
}

#cityname {
  background-color: #35548b;
  color: antiquewhite;
  border: 1px solid antiquewhite;
  outline: none;
  border-radius: 50px 0 0 50px;
  height: 15px;
  width: 120px;
  text-align: center;
}

#cityname::placeholder {
  color: antiquewhite;
  padding-left: 10px;
  font-size: 10px;
  font-weight: bold;
}

#sub-btn {
  position: relative;
  top: 1.5px;
  background-color: #35548b;
  margin-right: 20px;
  border: 1px solid antiquewhite;
  outline: none;
  padding: 2px;
  border-radius: 0 50px 50px 0;
  height: 18.5px;
  width: 19px;
}

.search-icon {
  color: antiquewhite;
  height: 12px;
  width: 12px;
}
