nav {
    width: 99vw;
    font-size: 18px;
    margin: 0 0.5vw;
    display: flex;
    justify-content: start;
    gap: 3%;
    align-items: center;
    color: #e1e398;
    background-color: #B13968;
}

h1 {
    color:#05c3fe;
    padding-left: 5px;
    font-size: 32px;
}

#air-txt {
    font-style: italic;
    padding-right: 5px;
}

#cityname {
    background-color: #DF4783;
    color: #e1e398;
    border: none;
    outline: none;
    border-radius: 50px 0 0 50px;
    height: 30px;
    text-align: center;
    margin-top: -20px;
}

#cityname::placeholder {
    color: antiquewhite;
    padding-left: 10px;
    font-weight: bold;
  }

#sub-btn {
    position: relative;
    top: 11px;
    background-color: #DF4783;
    border: none;
    outline: none;
    border-radius: 0 50px 50px 0;
    height: 32px;
    width: 32px;
}

.search-icon {
    color:#e1e398;
    height: 100%;
    width: 100%;
}